@mixin link-button($border-color, $text-color) {
  border: solid 1px $border-color;
  background-color: unset;
  color: $text-color;
  border-radius: 100px;

  cursor: pointer;

  svg {
    fill: $text-color;
  }
}

@mixin link-button-stroke($border-color, $text-color) {
  border: solid 1px $border-color;
  background-color: unset;
  color: $text-color;
  border-radius: 100px;

  cursor: pointer;

  svg {
    stroke: $text-color;
  }
}

@mixin underlineAnimation($bottom-padding) {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: $bottom-padding;
    left: 50%;

    height: 2px;
    width: 0;
    background-color: currentColor;

    transition:
      width 0.3s ease,
      left 0.3s ease;
  }

  &:hover::before {
    position: absolute;
    left: 0;

    height: 2px;
    width: 100%;
  }
}

.link {
  transition: text-decoration-color 1s ease;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: transparent;
  position: relative;

  @include underlineAnimation(-4px);
}

.coffee-link,
.contact-link {
  position: relative;
  transition: border-color 1s ease;
  border-bottom: solid 2px;
  border-color: transparent;

  cursor: pointer;

  @include underlineAnimation(-2px);
}

.mobile-nav .coffee-link {
  @include underlineAnimation(-8px);
}

@mixin animate-hover($bg-color, $text-color, $border-color) {
  transition: all 0.6s ease;

  &:hover {
    background-color: $bg-color;
    color: $text-color;
    border-color: $border-color;

    svg {
      fill: $text-color;
    }
  }
}

@mixin animate-hover-stroke($bg-color, $text-color, $border-color) {
  transition: all 0.6s ease;

  &:hover {
    background-color: $bg-color;
    color: $text-color;
    border-color: $border-color;

    svg {
      stroke: $text-color;
    }
  }
}

input[type="checkbox"] {
  display: none;
}
