@use "buttons";

footer {
  background-color: var(--bg-container);

  border-radius: 40px;
  margin-bottom: 40px;
  padding: 100px;

  display: flex;
  gap: 100px;

  h2 {
    color: var(--color-text-inverse);
    margin-bottom: 40px;
  }

  .contacts-container {
    color: var(--color-text-inverse);
    margin-top: 32px;

    h3 {
      margin-bottom: 40px;
    }

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 16px;

      li {
        stroke: var(--color-text-inverse);
        display: flex;
        align-items: center;
        gap: 8px;
      }

      li a {
        stroke: var(--color-text-inverse);
        display: flex;
        align-items: center;
        gap: 4px;
      }
      li.location {
        fill: var(--color-text-inverse);
      }
    }

    a {
      text-decoration: none;

      &:visited {
        color: var(--color-text-inverse);
      }
    }
  }
}

.socials {
  margin-top: 40px;
  display: flex;
  justify-content: flex-start;
  gap: 12px;

  .btn-social {
    width: 60px;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;

    @include buttons.animate-hover-stroke(
      var(--color-bg),
      var(--color-text),
      var(--color-bg)
    );

    @include buttons.link-button-stroke(
      var(--border-primary),
      var(--color-text-inverse)
    );
  }
}

@media screen and (max-width: 769px) {
  footer {
    flex-direction: column;
    padding: 60px;
  }
}
