@use "buttons";

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 20px 0px;
  z-index: 1000;
  position: sticky;
  top: 0;

  background-color: var(--color-bg);
}

.burger {
  display: none;
  width: 44px;
  height: 44px;
  overflow: hidden;

  &.border-themed {
    @include buttons.link-button-stroke(
      var(--border-inverse),
      var(--color-text)
    );
  }

  @include buttons.animate-hover-stroke(
    var(--bg-container),
    var(--color-text-inverse),
    var(--bg-container)
  );

  input[type="checkbox"]:checked {
    & ~ .burger-draft span:nth-of-type(1) {
      top: 5.5px;
      transform: rotate(45deg);
      transition:
        top 0.3s,
        transform 0.3s 0.15s;
    }
  }

  input[type="checkbox"]:checked {
    & ~ .burger-draft span:nth-of-type(2) {
      bottom: 5.5px;
      transform: rotate(-45deg);
      transition:
        bottom 0.3s,
        transform 0.3s 0.15s;
    }
  }
}

.burger-draft {
  width: 18px;
  height: 14px;
  position: relative;

  span {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;

    background-color: var(--color-text);
    border-radius: 10px;

    transition:
      top 0.3s 0.15s,
      bottom 0.3s 0.15s,
      transform 0.3s;
  }

  span:nth-of-type(1) {
    top: 0;
  }

  span:nth-of-type(2) {
    bottom: 0;
  }
}

.logo-text {
  fill: var(--color-text);
  width: 92.51385498046875px;
  height: 22.341798782348633px;
}

.logo-box {
  min-width: 95px;
  width: 95;
  height: 60px;
  display: flex;
  flex-direction: column;

  justify-content: center;
}

.logo-wrapper {
  position: relative;
  margin-bottom: 13.2px;

  width: 100%;
  .logo-circle {
    background-color: var(--color-accent);
    width: 38px;
    height: 38px;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: -1;
  }
}

.logo-name {
  fill: var(--color-text);
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.nav {
  list-style: none;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;

  white-space: nowrap;

  gap: clamp(5px, 4vw, 35px);
  li {
    cursor: pointer;
  }
}

%button-theme {
  width: 36px;
  height: 36px;
  border-radius: 100px;

  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    cursor: pointer;
  }
}

.theme-slider {
  width: 88px;
  height: 44px;
  padding: 3px;

  display: flex;
  justify-content: space-between;

  .light-button {
    @extend %button-theme;
    background-color: var(--theme-button-sun);
    transition-duration: 0.8s;
    .sun {
      fill: var(--sun);
      transition-duration: 0.8s;
    }
    &:hover {
      background-color: var(--sun-hover);
    }
  }

  .dark-button {
    @extend %button-theme;
    background-color: var(--theme-button-moon);

    transition-duration: 0.8s;
    .moon {
      fill: var(--moon);
      transition-duration: 0.8s;
    }
    &:hover {
      background-color: var(--moon-hover);
      & .moon {
        fill: var(--sun);
      }
    }
  }
}

.h-wrapper {
  display: flex;
  gap: 24px;
  align-items: center;
}

.menu {
  width: 72px;
  height: 28px;

  display: flex;
  gap: 8px;
  align-items: start;

  p {
    align-self: center;
    color: var(--color-text);
  }
}

.cup {
  stroke: var(--color-text);
}

.mobile-nav {
  overflow: hidden;
  height: 0px;
  display: flex;
  background-color: var(--color-bg);

  position: fixed;
  top: 100px;
  left: 0;
  right: 0;

  transition: height 0.3s;

  flex-direction: column;
  justify-content: start;
  align-items: center;

  gap: 100px;

  .nav-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 60px;

    text-align: center;
  }

  .coffee-link {
    width: unset;
  }

  .cup {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    align-self: center;
  }
}

@media screen and (max-width: 768px) {
  .nav {
    display: none;
  }

  .mobile-nav.open {
    height: 100vh;
  }

  .h-wrapper {
    gap: 12px;
    .menu {
      display: none;
    }
  }

  .burger {
    display: block;
    width: 44px;
    height: 44px;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}
