@use "buttons";

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 20px 0px;
  z-index: 1000;
  position: sticky;
  top: 0;

  background-color: var(--color-bg);
}

.burger {
  display: none;
}

.logo-text {
  fill: var(--color-text);
  width: 92.51385498046875px;
  height: 22.341798782348633px;
}

.logo-box {
  min-width: 95px;
  width: 95;
  height: 60px;
  display: flex;
  flex-direction: column;

  justify-content: center;
}

.logo-wrapper {
  position: relative;
  margin-bottom: 13.2px;

  width: 100%;
  .logo-circle {
    background-color: var(--color-accent);
    width: 38px;
    height: 38px;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: -1;
  }
}

.logo-name {
  fill: var(--color-text);
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.nav {
  list-style: none;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;

  white-space: nowrap;

  gap: clamp(5px, 4vw, 35px);
  li {
    cursor: pointer;
  }
}

%button-theme {
  width: 36px;
  height: 36px;
  border-radius: 100px;

  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    cursor: pointer;
  }
}

.theme-slider {
  width: 88px;
  height: 44px;
  padding: 3px;

  display: flex;
  justify-content: space-between;

  .light-button {
    @extend %button-theme;
    background-color: var(--theme-button-sun);
    transition-duration: 0.8s;
    .sun {
      fill: var(--sun);
      transition-duration: 0.8s;
    }
    &:hover {
      background-color: var(--sun-hover);
    }
  }

  .dark-button {
    @extend %button-theme;
    background-color: var(--theme-button-moon);

    transition-duration: 0.8s;
    .moon {
      fill: var(--moon);
      transition-duration: 0.8s;
    }
    &:hover {
      background-color: var(--moon-hover);
      & .moon {
        fill: var(--sun);
      }
    }
  }
}

.h-wrapper {
  display: flex;
  gap: 24px;
  align-items: center;
}

.menu {
  width: 72px;
  height: 28px;

  display: flex;
  gap: 8px;
  align-items: start;

  p {
    align-self: center;
    color: var(--color-text);
  }
}

.cup {
  stroke: var(--color-text);
}

@media screen and (max-width: 768px) {
  .nav {
    display: none;
  }

  .h-wrapper {
    gap: 12px;
    .menu {
      display: none;
    }
  }

  .burger {
    display: block;
    width: 44px;
    height: 44px;

    display: flex;
    align-items: center;
    justify-content: center;

    &.border-themed {
      @include buttons.link-button-stroke(
        var(--border-inverse),
        var(--color-text)
      );
    }
  }
}
